@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply font-sans;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
  }
  
  #root {
    margin: 0;
    padding: 0;
  }
}

